/* SITE HEADER */
.site-header {
  padding: 40px 0;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {}

.logo__img {
  width: 235px;
  height: auto;
  max-width: 100%;
}

.sitenav {}

.sitenav__list {
  display: flex;
  align-items: center;
}

.sitenav__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.sitenav__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
}