/* SITE HEADER HERO WRAPPER */
.site-header-hero__wrapper {
  background: var(--light-brown) url("../../images/light-img-bg.png") no-repeat center / cover;
}

/* SITE HEADER */
.site-header {
  padding: 40px 0;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

/* LOGO */
.logo__img {
  width: 235px;
  height: auto;
  max-width: 100%;
  transition: opacity .4s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

/* SITENAV */
.sitenav__list {
  display: flex;
  align-items: center;
}

.sitenav__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.sitenav__link {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  transition: color .4s ease, opacity .4s ease;

  &:hover {
    color: var(--accent-color-green);
  }

  &:active {
    opacity: 0.6;
  }
}

/* HERO */
.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  max-width: 730px;
  padding: 116px 116px 0 130px;
}

.hero__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 24px;
}

.hero__description {
  &:not(:last-child) {
    margin-bottom: 34px;
  }
}

.hero__img {
  max-width: 710px;
  width: 100%;
  height: 596px;
  object-fit: cover;
}

.hero__img--index {
  height: 696px;
}